<div id="settings-page" layout-padding layout="row" layout-fill layout-align="center start">
  <div class="sf-settings-container" flex-xs="100" flex-sm="66" flex-md="50" flex-lg="33" flex-gt-lg="20">
    <h1>Settings</h1>
    <md-input-container class="md-block" flex-gt-sm>
      <label>New Password</label>
      <input name="newPassword" ng-model="vm.user.password" type="password" />
      <md-button class="sf-btn-update-password md-raised md-primary" ng-hide="vm.submitted" ng-click="vm.changePassword()" ng-disabled="!vm.user.password||vm.user.password.length<6">Update</md-button>
    </md-input-container>
    <p>
      {{vm.message}}
    </p>
  </div>
</div>
