<div  layout="column" layout-align="center center" style="min-height: 300px;" ng-cloak="" class="selectdemoValidations" ng-app="MyApp">
  <form name="myForm">
    <p>Note that invalid styling only applies if invalid and dirty</p>


      <md-input-container>
  <md-select ng-model="selectedCategory" placeholder="Select a state">
    <md-option ng-value="category" ng-repeat="category in vm.categories">{{category.name}}</md-option>
  </md-select>
</md-input-container>

    <div layout="row">
      <md-button ng-click="vm.clearValue()" ng-disabled="!myModel" style="margin-right: 20px;">Clear</md-button>
      <md-button ng-click="vm.save()" ng-disabled="myForm.$invalid" class="md-primary" layout="" layout-align="center end">Save</md-button>
    </div>
    <div>
      <span class="md-title">Test</span>
    </div>
  </form>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
