#sf-products-container {
  background-color: $sf-color-blue;
}

.sf-product {
  min-height: 450px;
}

.sf-product md-card {
  position: relative;
  height: 100%;
}

.sf-product .sf-price {
  position: absolute;
  left: 15px;
  bottom: 20px;
}
