<div id="sf-products-container" flex layout="row" layout-wrap layout-padding>
  <div class="sf-product" flex-xs="100" flex-sm="50" flex="25" ng-repeat="product in vm.products track by product.id" ng-if="::product.stock=='Available'" layout-padding>
      <md-card>
        <md-card-title layout="column" layout="center center">
          <md-card-title-text>
            <span class="md-subhead ">{{::product.brand}}</span>
            <span class="md-title">{{::product.name}}</span>
          </md-card-title-text>
          <md-card-title-media layout-padding>
            <img ui-sref="productsDetail(::{ productId: product._id})" ui-sref-opts="{reload: false, notify: false}" ng-src="{{::product.mediumImage}}" />
          </md-card-title-media>
          <div class="sf-price md-title">{{::product.price}} $</div>
        </md-card-title>
        <md-card-actions layout="row " layout-align="end center ">
          <button recompile-on="cart:add:{{::product.id}}" flex class="md-raised md-button md-ink-ripple" ng-click="vm.removeFromCart(product)" class="md-raised" aria-label="remove rom cart" ng-disabled="::(vm.getQuantity(vm.currentUser.auth.uid, product.id)<1||vm.isLoading)">-</button>
          <button recompile-on="cart:add:{{::product.id}}" flex class="product-quantity md-raised md-button md-ink-ripple" ng-class="::{highlight:(vm.getQuantity(vm.currentUser.auth.uid, product.id)>0)}" aria-label="quantity" ng-disabled="::(vm.getQuantity(vm.currentUser.auth.uid, product.id)<1)">{{::vm.getQuantity(vm.currentUser.auth.uid, product.id)}}</button>
          <button recompile-on="cart:add:{{::product.id}}" flex class="md-raised md-warn md-button md-ink-ripple" ng-click="vm.addToCart(product)" aria-label="add to cart" class="md-raised md-warn" ng-show="::(vm.getQuantity(vm.currentUser.auth.uid, product.id)<1)">
            <i class="sf-md-cart-icon material-icons">shopping_cart</i>
          </button>
          <button recompile-on="cart:add:{{::product.id}}" flex class="md-raised md- md-button md-ink-ripple" ng-click="vm.addToCart(product, quantity)" aria-label="add to cart" class="md-raised" ng-hide="::(vm.getQuantity(vm.currentUser.auth.uid, product.id)<1)" ng-disabled="::(vm.isLoading)">+</button>
        </md-card-actions>
        <md-list ng-show="vm.users.current.length>1" >
          <md-subheader class="md-no-sticky">Your flatmates</md-subheader>
          <md-list-item class="noright" ng-if="flatmate.uid !== vm.currentUser.auth.uid" ng-repeat="flatmate in vm.users.current">
            <img ng-src="{{flatmate.photoURL}}" class="md-avatar" />
            <p>{{flatmate.displayName}}</p>
            <md-button class="md-secondary md-icon-button" disabled>
              <span ng-show="vm.cartProducts.current[flatmate.uid][product.id]">{{(vm.cartProducts.current[flatmate.uid][product.id].quantity)}}</span>
              <span ng-hide="vm.cartProducts.current[flatmate.uid][product.id]">0</span>
            </md-button>
          </md-list-item>
        </md-list>
      </md-card>
    </div>
</div>
