<div id="sf-products-container" flex layout="row" layout-wrap layout-padding>
  <div class="sf-product" flex-xs="100" flex-sm="50" flex="25" ng-repeat=" product in vm.products" ng-if="product.stock=='Available'" layout-padding>
    <md-card>
      <md-card-title layout="column" layout="center center">
        <md-card-title-text>
          <span class="md-title">{{product.name}}</span>
          <span class="md-subhead ">{{product.brand}}</span>
        </md-card-title-text>
        <md-card-title-media layout-padding>
          <img ng-src="{{product.mediumImage}} " />
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row " layout-align="end center ">
        <div class="sf-price md-title">{{product.price}} $</div>
        <a ng-href="{{product.addToCartUrl}} " target="_ blank ">
          <md-button class="md-raised md-warn ">Add to cart</md-button>
        </a>
      </md-card-actions>
    </md-card>
  </div>
</div>
