<div id="login-page" layout-padding layout-fill layout="row" layout-align="center center">
  <div flex-xs="100" flex-sm="66" flex-md="50" flex-lg="33" flex-gt-lg="20">
    <form name="form" ng-submit="vm.login(form)" novalidate>
      <!-- Email Input -->
      <md-input-container class="md-block">
        <label for="input_email">Email</label>
        <input ng-model="vm.user.email" type="email" class="md-input" id="input_email">
        <div class="md-errors-spacer"></div>
      </md-input-container>
      <!--Password Input -->
      <md-input-container class="md-block">
        <label for="input_password">Password</label>
        <input ng-model="vm.user.password" type="password" class="md-input" id="input_password">
      </md-input-container>
      <!-- Errors -->
      <div class="md-errors-spacer">
        <div ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
          Please enter your email and password.
        </div>
        <div ng-show="form.email.$error.email && vm.submitted">
          Please enter a valid email.
        </div>
        {{ vm.errors.other }}
      </div>
      <!-- Action buttons -->
      <section layout-xs="column" layout="row">
        <md-button class="md-raised md-block" flex type="submit">Login</md-button>
        <md-button class="md-raised md-block" flex ui-sref="signup">Register</md-button>
      </section>
    </form>

    <!-- OAuth services -->
    <oauth-buttons classes="btn-block" flex></oauth-buttons>
  </div>
</div>
