@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/**
 * App-wide Styles
 */
body,
html {
  font-family: "canada-type-gibson";
  background-color: #f5f5f5;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 400;
}
.md-button {
  text-transform: inherit;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
#sf-root {
  margin-top: 60px;
}
#sf-root.transparentNavbar {
  margin-top: 0;
}
/* SEBA fresh CI Colors */
$sf-color-blue: #007DC6;
$sf-color-green: #94BF54;
$sf-color-red: #D94848;
$sf-color-orange: #F47421;
$sf-color-yellow: #FFC120; // Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin';
@import 'contact/contact';
@import 'dialogs';
@import 'join/join';
@import 'main/main';
@import 'onboarding/onboarding';
@import 'products/products';
@import 'test/test';
@import '../components/categoryMenu/categoryMenu';
@import '../components/footer/footer';
@import '../components/groupList/groupList';
@import '../components/groups/groups';
@import '../components/minimumOrderValueProgress/minimumOrderValueProgress';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
@import '../components/onboarding/onboarding';
@import '../components/shoppingCart/shoppingCart';
@import '../components/sidebar/sidebar';
@import '../components/success-check/success-check';
/* endinject */
