md-dialog .close {
  background-color: #79b9e7;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 4px;
}
/**
 * Product Dialog
 */
#productDialog img {
  width: 100%;
  height: auto;
}
#productDialog md-toolbar {
  background-color: #0066a3;
  color: #fff;
}

#productDialog {
  .product-name {
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
    position: absolute;
    left: 50px;
    overflow: hidden;
    top: 50%;
    margin-top: -10px;
    overflow: hidden;
    height: 18px;
  }

  md-dialog-content {
    padding-bottom: 65px;
  }

  md-dialog-actions {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0;
  }

  .sf-btn-add-to-cart {
    width: 100%;
    margin: 0;
    height: 50px;
    border-radius: 0;

    .sf-btn-text {
      font-weight: bolder;
      position: absolute;
      left: 50%;
      margin-left: -55px;
      font-size: 16px;
      top: 8px;
    }
  }

  .sf-btn-back {
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 8px;
  }
}


#productDialog .product-description {
  color: #939394;
  text-align: justify;
  line-height: 21px;
}
#productDialog .md-dialog-content {
  padding: 15px 15px 0 25px;
}
#productDialog .product-details md-content {
  padding: 0px;
  background-color: #fff!important;
}
#productDialog .product-brand,
#productDialog .product-stock {
  width: 100%;
  font-size: 15px;
  margin: 0;
  top: 5px;
  font-weight: 400;
  text-align: right;
  height: 30px;
}
#productDialog .product-stock {
  font-size: 14px;
}
#productDialog .product-price-container {
  border-radius: 5px;
  background-color: #ffc120;
  color: black;
  font-weight: bold;
  font-size: 26px;
  padding: 5px;
  margin-right: 5px;
}
#productDialog .product-price-cents {
  position: relative;
  top: -7px;
  font-weight: 600;
  font-size: 16px;
  left: -2px;
}
#productDialog .product-url {
  position: absolute;
  left: 15px;
  bottom: 5px;
}
#productDialog .product-url img {
  width: 115px;
}
#productDialog .product-price-currency-sign {
  position: relative;
  top: -7px;
  font-weight: 600;
  font-size: 16px;
  left: 0;
}
