<md-dialog id="payDialog" aria-label="Pay Your Share" flex-xs="100" flex-sm="75" flex-gt-sm="60" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3 class="product-name">Send payment request</h3>
        <span flex></span>
        <i class="material-icons">close</i>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="row">
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="usePaypal()">
        Send Paypal Request
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
