<md-dialog id="productDialog" aria-label="Product Details" flex-xs="100" flex-sm="75" flex-gt-sm="60" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3 class="product-name">{{product.name}}</h3>
        <span flex></span>
        <i class="material-icons" aria-label="Close dialog" ng-click="cancel()">clear</i>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="row">
        <div flex="50" layout="column" layout-align="center center">
          <img ng-src="{{product.largeImage}}" />
        </div>
        <div class="product-details" layout="column" layout-align="center center" flex="50">
          <md-content layout-padding>
            <!--<h4 flex class="product-brand">{{product.brand}}</h4>-->
            <p class="product-description" ng-bind-html="productDescription"></p>
            <span class="product-price-container">
                <span class="product-price-currency-sign">
                  $
                </span>
            <span class="product-price-dollars">
                  {{product.price | floor}}
                  </span>
            <span class="product-price-cents">
                  {{product.price | cents}}
                </span>
            </span>
          </md-content>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row ">
      <a class="product-url" ng-href="{{product.productUrl}}" target="_blank"><img src="/assets/images/walmart-logo.png" /></a>
      <md-button class="md-raised md-warn" ng-click="addToCart(product)">
        <i class="material-icons" aria-label="add to cart">shopping_cart</i>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
