/**
 * Group Cart total
 */

.md-sidenav-right {
}

shopping-cart {
  height: calc(100vh - 70px);
  overflow: hidden;

  .cart-list {
    height: calc(100vh - 150px);
    overflow-y: scroll;
  }
}

shopping-cart .sf-cart-empty {
  width: 100%;
}

shopping-cart .btn-hide-payment-view {
  position: absolute;
  line-height: 21px;
  font-size: 21px;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

shopping-cart .group-cart-total {
  background-color: #0066a3;
  position: absolute;
}
shopping-cart .shopping-cart .cart-total-amount {
  color: $sf-color-yellow;
}
shopping-cart .group-cart-total .description {
  position: absolute;
  left: 10px;
  top: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
shopping-cart .group-cart-total .cart-order-info {
  position: absolute;
  right: 15px;
  top: 20px;
}
shopping-cart .cart-total-quantity {
  margin-right: 10px;
  font-size: 14px;
}
shopping-cart .cart-total-amount {
  text-decoration: underline;
  font-weight: bold;
  margin-top: 5px;
}
/**
 * General cart cell
 */
shopping-cart .cart-cell-container {
  overflow: hidden;
  margin: 10px;
}
shopping-cart .cart-cell-picture .placeholder,
shopping-cart .cart-cell-picture img {
  border-radius: 50%;
  width: 65px;
}

shopping-cart .user-picture img {
  width: 45px;
}

shopping-cart .cart-cell-info {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  padding-left: 15px;
}
shopping-cart .cart-cell-title {
  font-size: 12px;
  max-height: 30px;
  overflow: hidden;
  line-height: 16px;
}
shopping-cart .cart-cell-description {
  font-size: 12px;
  color: #888;
}
shopping-cart .cart-cell-total-amount {
  padding-top: 15px;
  padding-bottom: 15px;
}
shopping-cart .cart-cell-total-amount {
  padding-right: 5px;
}
shopping-cart .cart-cell-total-amount {
  font-weight: bold;
  font-size: 13px;
  text-align: right;
}
/**
 * User Container
 */
shopping-cart .user-container {
  background-color: #f4f5f7;
  margin: 0;
  padding: 10px;
}
/**
 * Your single cart
 */
shopping-cart .single-cart .your-share-hint {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #f4f5f7;
}
shopping-cart .single-cart .user-container {
  background-color: #f2f8fd;
}
/**
 * Payment container
 */
shopping-cart .payment-container {
  height: 65px;
  background-color: $sf-color-red;
  text-align: center;
}
shopping-cart .payment-container .hint {
  top: 25px;
  position: relative;
  color: #fff;
}
shopping-cart .shared-payment .header {
  height: 35px;
  position: relative;
  background: #f7f7f7;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}
shopping-cart .shared-payment .header .flatmates {
  position: absolute;
  left: 10px;
  top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
shopping-cart .shared-payment .single-cart-flatmate .user-container {
  background: none;
}

shopping-cart .btn-payment-request {
  font-size: 12px;
  margin-bottom: 15px;
  width: 100%;
  text-align: right;
  padding-right: 15px;
  color: $sf-color-blue;
  font-weight: 600;
  cursor: pointer;
}

shopping-cart .shared-payment .header .paid {
  text-align: right;
  right: 21px;
  font-weight: bold;
  top: 8px;
  position: absolute;
  font-size: 14px;
  line-height: 18px;
}
shopping-cart .shared-payment hr {
  margin: 0;
}
shopping-cart .btn-pay-now {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 95%;
}
shopping-cart md-checkbox.md-checked {
  color: $sf-color-green;
}
@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
  shopping-cart md-toolbar {
    min-height: 64px;
  }
}

/** XS **/
@media only screen and (max-width: 599px) {
  shopping-cart  {
    .group-cart-total {
      height: 50px;
      min-height: 50px;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);

      .description {
        font-size: 14px;
        top: 15px;
      }
    }
    .sf-cart-empty {
      h2 {
        margin: 26px 0 0;
        font-size: 18px;
      }
    }
  }
}
