<md-toolbar class="group-cart-total">
  <div ng-hide="hideCart||shoppingCartCtrl.isGroupAdmin()&&shoppingCartCtrl.isFreeShippingAvailable()">
    <span class="description">Total (Flat): </span>
    <div class="cart-order-info">
      <span class="cart-total-quantity">{{shoppingCartCtrl.getCurrentCart().totalQuantity}} Items </span>
      <span class="cart-total-amount">$ {{shoppingCartCtrl.getCurrentCart().totalAmount | price}}</span>
    </div>
  </div>
  <div ng-show="hideCart||shoppingCartCtrl.isGroupAdmin()&&shoppingCartCtrl.isFreeShippingAvailable()">
    <span class="description">Shared Payment</span>
  </div>
</md-toolbar>
<minimum-order-value-progress></minimum-order-value-progress>
<!-- CART LIST -->
<div class="cart-list" ng-hide="hideCart||shoppingCartCtrl.isGroupAdmin()&&shoppingCartCtrl.isFreeShippingAvailable()">

  <!-- CURRENT USER -->
  <div class="single-cart cart-cell" ng-repeat="user in shoppingCartCtrl.getCurrentCart().users" ng-show="shoppingCartCtrl.isCurrentUser(user._id)">
    <!--<div class="your-share-hint">Your share:</div>-->
    <div class="user-container cart-cell-container" layout="row">
      <div class="user-picture cart-cell-picture" layout="row" layout-align="start center">
        <img ng-src="{{user.picture}}" />
      </div>
      <div class="user-info cart-cell-info">
        <div layout="column">
          <div flex class="user-name cart-cell-title">
            {{user.first_name}} {{user.last_name}} | Items.length: {{user.items.length}}
          </div>
          <div flex class="user-cart-quantity cart-cell-description">
            {{shoppingCartCtrl.calculateOrderAmount(user.items) }} Items
          </div>
        </div>
      </div>
      <div flex class="user-cart-total-amount cart-cell-total-amount">
        $ {{shoppingCartCtrl.calculateOrderValue(user.items) | price}}
      </div>
    </div>
    <!-- ITEMS -->
    <div class="cart-cell-container" ng-repeat="item in user.items" layout="column">
      <div layout="row">
        <div class="cart-cell-picture" layout="row" layout-align="start center">
          <img ng-src="{{item.product.mediumImage}}" />
        </div>
        <div class="cart-cell-info">
          <div layout="column">
            <div flex class="cart-cell-title">
              {{item.product.name}}
            </div>
            <div flex class="cart-cell-description">
              <span>Sold by:</span> Walmart.com
            </div>
          </div>
        </div>
        <div flex class="cart-cell-total-amount">
          $ {{item.product.price}}
        </div>
      </div>
      <div flex layout="row" class="cart-item-actions">
        <md-button flex ng-click="shoppingCartCtrl.removeFromCart(item.product, quantity)" class="md-raised" aria-label="remove rom cart" ng-disabled="!item.quantity||item.quantity<1">-</md-button>
        <md-button flex class="product-quantity md-raised" ng-class="{'highlight': item.quantity>0}" aria-label="quantity" ng-disabled="true">{{item.quantity}}</md-button>
        <md-button ng-hide="item.quantity>0" flex ng-click="shoppingCartCtrl.addToCart(item.product)" aria-label="add to cart" class="md-raised md-warn ">
          <i class="sf-md-cart-icon material-icons">shopping_cart</i>
        </md-button>
        <md-button ng-show="item.quantity>0" flex ng-click="shoppingCartCtrl.addToCart(item.product)" aria-label="add to cart" class="md-raised">+</md-button>
      </div>
    </div>
  </div>

  <!-- FLATMATES -->
  <div class="single-cart cart-cell" ng-repeat="flatmate in shoppingCartCtrl.getCurrentCart().users" ng-hide="shoppingCartCtrl.isCurrentUser(flatmate._id)">
    <div class="user-container cart-cell-container" layout="row">
      <div class="user-picture cart-cell-picture" layout="row" layout-align="start center">
        <img ng-src="{{flatmate.picture}}" />
      </div>
      <div class="user-info cart-cell-info">
        <div layout="column">
          <div flex class="user-name cart-cell-title">
            {{flatmate.first_name}} {{flatmate.last_name}} | Items.length: {{user.items.length}}
          </div>
          <div flex class="user-cart-quantity cart-cell-description">
            {{shoppingCartCtrl.calculateOrderAmount(flatmate.items) }} Items
          </div>
        </div>
      </div>
      <div flex class="user-cart-total-amount cart-cell-total-amount">
        $ {{shoppingCartCtrl.calculateOrderValue(flatmate.items) | price}}
      </div>
    </div>
    <!-- ITEMS -->
    <div class="cart-cell-container" ng-repeat="item in flatmate.items" layout="column">
      <div layout="row">
        <div class="cart-cell-picture" layout="row" layout-align="start center">
          <img ng-src="{{item.product.mediumImage}}" />
        </div>
        <div class="cart-cell-info">
          <div layout="column">
            <div flex class="cart-cell-title">
              {{item.product.name}}
            </div>
            <div flex class="cart-cell-description">
              <span>Sold by:</span> Walmart.com
            </div>
          </div>
        </div>
        <div flex class="cart-cell-total-amount">
          $ {{item.product.price}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SHARED PAYMENT -->

<div class="shared-payment" ng-show="hideCart||shoppingCartCtrl.isGroupAdmin()&&shoppingCartCtrl.isFreeShippingAvailable()">
  <!-- CURRENT USER -->
  <div class="single-cart cart-cell">
    <!--<div class="your-share-hint">Your share:</div>-->
    <div class="user-container cart-cell-container" layout="row">
      <div class="user-picture cart-cell-picture" layout="row" layout-align="start center">
        <img ng-src="{{shoppingCartCtrl.Auth.getCurrentUser().picture}}" />
      </div>
      <div class="user-info cart-cell-info">
        <div layout="column">
          <div flex class="user-name cart-cell-title">
            {{shoppingCartCtrl.Auth.getCurrentUser().first_name}} {{shoppingCartCtrl.Auth.getCurrentUser().last_name}}
          </div>
          <!--<div flex class="user-cart-quantity cart-cell-description">
            $ {{shoppingCartCtrl.calculateOrderValue(shoppingCartCtrl.currentUserItems) | price}} | {{shoppingCartCtrl.calculateOrderAmount(shoppingCartCtrl.currentUserItems) }} Items
          </div>-->
        </div>
      </div>
      <div flex class="user-cart-total-amount cart-cell-total-amount">
      </div>
    </div>
    <div class="header">
      <div class="flatmates">
        Flatmates
      </div>
      <div class="paid">
        Paid
      </div>
    </div>

    <!-- FLATMATES -->
    <div class="single-cart cart-cell single-cart-flatmate" ng-repeat="flatmate in shoppingCartCtrl.flatmates">
      <div class="user-container cart-cell-container" layout="row">
        <div class="user-picture cart-cell-picture" layout="row" layout-align="start center">
          <img ng-src="{{flatmate.picture}}" />
        </div>
        <div class="user-info cart-cell-info">
          <div layout="column">
            <div flex class="user-name cart-cell-title">
              {{flatmate.first_name}} {{flatmate.last_name}}
            </div>
            <!--<div flex class="user-cart-quantity cart-cell-description">
              $ {{shoppingCartCtrl.calculateOrderValue(flatmate.items) | price}} | {{shoppingCartCtrl.calculateOrderAmount(flatmate.items) }} Items
            </div>-->
          </div>
        </div>
        <div flex class="user-cart-total-amount cart-cell-total-amount">
          <!--$ {{shoppingCartCtrl.calculateOrderValue(flatmate.items) | price}}-->
          <md-checkbox ng-model="data.cb1" aria-label="Paid"> </md-checkbox>
        </div>
      </div>
    </div>
    <hr/>
    <!-- TOTAL -->
    <div class="cart-cell">
      <div class="cart-cell-container" layout="row">
        <div class="cart-cell-picture" layout="row" layout-align="start center">
          <div class="placeholder"></div>
        </div>
        <div class="cart-cell-info">
          <div layout="column">
            <div flex class="cart-cell-title">
              Total (Flat):
            </div>
            <div flex class="cart-cell-description">
              {{shoppingCartCtrl.getCurrentCart().totalQuantity}} Items
            </div>
          </div>
        </div>
        <div flex class="cart-cell-total-amount">
          $ {{shoppingCartCtrl.getCurrentCart().totalAmount | price}}
        </div>
      </div>
    </div>
    <hr/>
    <!-- CHECKOUT FOR ADMIN -->
    <md-button ng-click="shoppingCartCtrl.checkout()" class="btn-pay-now md-raised md-warn">Checkout</md-button>
  </div>
