<!-- Top navbar -->
<md-toolbar ng-class="{'sf-transparent': navbar.transparent}">
  <div class="md-toolbar-tools">
    <md-button hide-gt-xs ng-click="nav.toggleLeft()" class="md-icon-button" aria-label="Settings">
      <i class="material-icons">menu</i>
    </md-button>
    <h2>
      <a class="sf-brand" href="/">SEBA <span>fresh</span></a>
    </h2>
    <div class="sf-navigation-bar" hide-xs>
      <div ng-hide="nav.isLoggedIn()">
        <md-button class="sf-call-to-action" ui-sref="signup">Create Shopping Group</md-button>
        <md-button ui-sref="signup">Signup</md-button>
        <md-button ui-sref="login">Login</md-button>
        <a class="sf-cart-toggle md-button" ui-sref="login">
          <span class="sf-cart-total-amount">
            <span class="sf-cart-currency-sign">
              $
            </span>
          <span class="sf-cart-amount-dollars">
            0
            </span>
          <span class="sf-cart-amount-cents">
            00
              </span>
          </span>
          <span class="sf-cart-total-icon">
            <md-icon class="sf-md-cart-icon" md-svg-icon="cart"></md-icon>
            <span class="sf-cart-badge">0</span>
          </span>
        </a>
      </div>
      <div ng-show="nav.isLoggedIn()">
        <md-button class="sf-user-name" ui-sref="settings">Hello {{ nav.getCurrentUser().first_name }} {{nav.getCurrentUser().last_name }}</md-button>
        <md-button ui-sref="logout">Logout</md-button>
        <a class="sf-cart-toggle md-button" ng-click="nav.openCart()">
          <span class="sf-cart-total-amount">
          </span>
          <span class="sf-cart-total-icon">
            <md-icon class="sf-md-cart-icon" md-svg-icon="cart"></md-icon>
            <span class="sf-cart-badge">0</span>
          </span>
        </a>
      </div>
    </div>
</md-toolbar>
