<!-- Top navbar -->

<md-toolbar ng-class="{'sf-transparent': navbar.transparent}" ng-cloak>
  <div class="md-toolbar-tools">
    <md-button hide-gt-xs ng-click="nav.toggleLeft()" class="md-icon-button" aria-label="Settings">
      <i class="material-icons">menu</i>
    </md-button>
    <h2>
      <a class="sf-brand" href="/">project <span>fresh.</span></a>
    </h2>
    <div class="sf-navigation-bar" hide-xs>
      <div ng-hide="nav.currentUser" layout="row" flex>
        <md-button ui-sref="signup">sign up</md-button>
        <md-button ui-sref="login">login</md-button>
      </div>
      <div ng-show="nav.currentUser">
        <md-button class="sf-user-name" ui-sref="settings"><span class="greeting">Hello</span> {{ nav.currentUser.displayName }}</md-button>
        <md-button ng-click="nav.FirebaseAuth.$signOut()">Logout</md-button>
        <a ng-show="nav.currentCart.id" class="sf-mini-cart md-button" ng-click="nav.openCart()">
          <div class="sf-cart-toggle">
            <span class="sf-cart-total-amount">
            <span class="sf-cart-currency-sign">
              $
            </span>
            <span class="sf-cart-amount-dollars">
            {{nav.currentCart.totalAmount | floor}}
            </span>
            <span class="sf-cart-amount-cents">
            {{nav.currentCart.totalAmount | cents}}
              </span>
            </span>
            <span class="sf-cart-total-icon">
            <i class="sf-md-cart-icon material-icons">shopping_cart</i>
            <span class="sf-cart-badge">{{nav.currentCart.totalQuantity | amount}}</span>
            </span>
          </div>
        </a>
      </div>
    </div>
</md-toolbar>
