<!-- Top navbar -->

<md-toolbar ng-class="{'sf-transparent': navbar.transparent}" ng-cloak>
  <div class="md-toolbar-tools">
    <md-button hide-gt-xs ng-click="nav.toggleLeft()" class="md-icon-button" aria-label="Settings">
      <i class="material-icons">menu</i>
    </md-button>
    <h2 hide-xs>
      <a class="sf-brand" href="/">project <span>fresh.</span></a>
    </h2>
    <div class="sf-navigation-bar">
      <!-- Menu LOGGED OUT -->
      <div ng-hide="nav.currentUser.auth" layout="row" hide-xs flex>
        <md-button ui-sref="signup">sign up</md-button>
        <md-button ui-sref="login">login</md-button>
      </div>

      <!-- Menu LOGGED IN -->
      <div ng-show="nav.currentUser.auth">

        <!-- Actions -->
        <md-button hide-xs class="sf-user-name" ui-sref="settings">{{ nav.currentUser.auth.displayName }}</md-button>
        <md-button hide-xs ng-click="nav.logout()">Logout</md-button>

        <!-- Shopping Cart -->
        <a ng-show="nav.carts.current.id" class="sf-mini-cart md-button" ng-click="nav.openCart()">
          <div class="sf-cart-toggle">
            <span class="sf-cart-total-amount">
            <span class="sf-cart-currency-sign">
              $
            </span>
            <span class="sf-cart-amount-dollars">
            {{nav.carts.current.totalAmount | floor}}
            </span>
            <span class="sf-cart-amount-cents">
            {{nav.carts.current.totalAmount | cents}}
              </span>
            </span>
            <span class="sf-cart-total-icon">
            <i class="sf-md-cart-icon material-icons">shopping_cart</i>
            <span class="sf-cart-badge">{{nav.carts.current.totalQuantity | amount}}</span>
            </span>
          </div>
        </a>
        <div class="sf-switch-carts" ng-show="nav.carts.current" ng-click="nav.switchCart()">
          <i class="sf-switch-carts-icon material-icons">swap_horiz</i>
        </div>
      </div>

    </div>
</md-toolbar>
