main {
  height: 100%;
}
#sf-main {
  color: #fff;
  height: 100%;
  padding-top: 60px;
}
#sf-main .sf-hero-unit {
  z-index: 0;
  height: 100%;
}
.sf-panel {
  background-color: #fff;
  height: 350px;
}
#sf-main .sf-hero-headline h1 {
  font-weight: 100;
  margin-bottom: 0;
}
#sf-main .sf-hero-headline .sf-headline-1 {
  font-size: 1.4em;
}
#sf-main .sf-hero-headline .sf-headline-1 b,
#sf-main .sf-hero-headline .sf-headline-2 b {
  color: $sf-color-yellow;
  font-weight: 100!important;
}
