main {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100vh - 45px);
}

#sf-main   {
  background-color: $sf-color-blue;
  color: #fff;
}

#sf-main .sf-hero-headline .sf-headline-1 {
  font-size: 1.4em;
}

#sf-main .sf-hero-headline .sf-headline-1 b,
#sf-main .sf-hero-headline .sf-headline-2 b  {
  color: $sf-color-yellow;
}
