<div class="pos-upsell" ng-hide="freeShipping">
  <div class="pos-upsell-from">$0</div>
  <div class="pos-upsell-progress">
    <span ng-style="updateProgressStyle(carts.current)" class="meter-bar under"></span>
  </div>
  <div class="pos-upsell-to">$50</div>
  <p class="upsell-message">
    Get <strong>FREE Value shipping</strong> in checkout on orders of $50 or more.
  </p>
</div>
<div class="free-shipping" ng-show="freeShipping">
  <span class="hint">You earned <strong>FREE Value shipping!</strong></span>
</div>
