<md-menu-bar hide-xs>
  <md-menu ng-repeat="category in categories">

    <button ng-click="openCategory(category, this)" ng-class="{'active': isCategorySelected(state.categoryId, category.id)}">
      {{::category.name}}
    </button>

    <md-menu-content>
       <md-menu-item ng-repeat="category in category.children" ng-include='"menu_item.html"'></md-menu-item>
     </md-menu-content>
  </md-menu>
</md-menu-bar>

<div class="sf-category-breadcrumb">
  <i ng-show="state.categoryName" class="material-icons">keyboard_arrow_right</i>
  <span class="sf-current-category">{{state.categoryName}}</span>
</div>

<script type="text/ng-template" id="menu_item.html">
    <md-button ng-click="selectCategory(category.id, category.name, $event)" ng-if="::(!category.children)">
      {{::category.name}}
    </md-button>
    <md-menu ng-if="::(category.children.length)">
      <md-button ng-click="$mdOpenMenu()">{{::category.name}}</md-button>
    </md-menu>
</script>
