<md-menu-bar>
  <md-menu ng-repeat="category in categories">
    <button ng-click="category.children.length>0&&$mdOpenMenu()">
      {{category.name}}
    </button>
    <md-menu-content>
       <md-menu-item ng-repeat="category in category.children" ng-include='"treeNavigation"'></md-menu-item>
     </md-menu-content>
  </md-menu>
</md-menu-bar>

<script type="text/ng-template" id="treeNavigation">
    <md-button ng-click="$mdOpenMenu()" ng-if="!category.children">
      {{category.name}}
    </md-button>
    <md-menu ng-if="category.children.length">
      <md-button ng-click="$mdOpenMenu()">{{category.name}}</md-button>
      <md-menu-content>
        <md-menu-item ng-repeat="category in category.children" ng-include='"treeNavigation"'></md-menu-item>
      </md-menu-content>
    </md-menu>
</script>
