<!-- Sidebar -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-toolbar>
    <h1 class="md-toolbar-tools sf-brand">SEBA <span>fresh</span></h1>
  </md-toolbar>
  <section class="sf-sidebar-nav">
    <md-list-item ng-hide="vm.isLoggedIn()" ui-sref-active="active" ng-click="vm.close()" ui-sref="signup">
      <p>Sign up</p>
    </md-list-item>
    <md-list-item ng-hide="vm.isLoggedIn()" ui-sref-active="active" ng-click="vm.close()" ui-sref="login">
      <p>Login</p>
    </md-list-item>
    <md-list-item ng-show="vm.isLoggedIn()">
      <p class="navbar-text">Hello {{ vm.getCurrentUser().first_name }} {{vm.getCurrentUser().last_name }}</p>
    </md-list-item>
    <md-list-item ng-show="vm.isLoggedIn()" ui-sref-active="active" ng-click="vm.close()" ui-sref="settings">
      <p>Settings</p>
    </md-list-item>
    <md-list-item ng-show="vm.isLoggedIn()" ui-sref-active="active" ng-click="vm.close()" ui-sref="logout">
      <p>Logout</p>
    </md-list-item>
  </section>
</md-sidenav>

<!-- Sidebar Right -->
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Shopping Cart</h1>
    <shopping-cart layout-fill></shopping-cart>
  </md-toolbar>
</md-sidenav>
